@{
    ViewData["Title"] = "Team Management System-Home";
}

<div class="jumbotron">
    <h1>Team Management System </h1>
</div>
<div class="row">
    <div align ="center">
        <h2>Welcome to Wits War Games</h2>
        <p>
            The Wits Wargames Club (WWC) is responsible for the promotion of mind sports and electronic sports at the University and the whole of South Africa. The club is affiliated to Mind Sports South Africa. WWC, under the guidance of Wits Sport, offers opportunities to students with skill and aptitude in a number of sporting codes such as Morabaraba (traditional African board game), draught, Computer games (FIFA, Call of Duty, Counter Strike etc) and historical figure games.
        </p>

        <p>

        </p>
    </div>
   
</div>